@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@420;700&display=swap');
:root{
    --preto: #111111;
    --branco: #f5f5f5;
    --cinza: #a7a7a7;
    --vermelho: #e16969;
    --font: 'Rubik', sans-serif;
    --bold: 700;
    --regular:400;
}
*, *:before, *:after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--font);
}
body{
    color: var(--preto);
    background-color: var(--branco);
    overflow-x: hidden;
}

/* Previa Sobre Mim ******************************************************************************/

.previa-sobreMim{
    background-color: var(--branco);
    height: 70vh;
    width: 100vmax;
    display: flex;
    flex-wrap: wrap;
}

.texto-sobreMim{
    position: absolute;
    left: 3vmax;
    top: 31vh;
}

#salve{
    position: relative;
    font-weight: var(--bold);
    color: var(--vermelho);
    text-shadow: 
    -0.1vmax -0.1vmax 0vmax var(--preto), 
    -0.1vmax 0.1vmax 0vmax var(--preto),                    
    0.1vmax -0.1vmax 0vmax var(--preto),                  
    0.1vmax 0.1vmax 0vmax var(--preto);
    font-size: 3.5vw;
}
#EuMemo{
    position: relative;
    top: -3.2vw;
    left: 14.2vw;
    font-size:  2.5vw;
}

.conteudoPrevia{
    position: absolute;
    font-size: 2.3vw;
    font-weight: var(--regular);
    top: 4vw;
    width: 45vmax;
}

.fotinha{
    position:absolute;
    right: 12vw;
    top: 5vmax;
    animation: euMeMovo 1s infinite alternate ease-in-out;
}
.fotinha img{
    pointer-events: none;
    height: 45vw;
    box-shadow: #f5f5f5;

}
@keyframes euMeMovo {
    0%{
        top: 3rem;
    }
    100%{
        top: 5rem;
    }
}

/* Area de Projetos *****************************************************************************/

.AreaProjetos{
    position: relative;
    height: 90vh;
    width: 100vw;
}

.tituloProjetos{
    position: absolute;
    padding: 1vw;
    left: 3.5vw;
}
.tituloProjetos h4{
    font-weight: var(--regular);
    font-size: 2vw;
}

.tituloProjetos h1{
    font-weight: var(--bold);
    font-size: 5vw;
}

.Projetos{
    position: absolute;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    gap: 1px;
    align-items: center;
    justify-content: center;
    top: 15rem;
    right: 0;
    left: 0;
}
.projeto1{
    position: relative;
    height: 24vw;
    width: 42vw;
    cursor: pointer;
}
.projeto1 img{
    height: 24vw;
    padding: 1rem;
    border-radius: 6vw;
}
.projeto2{
    position: relative;
    height: 24vw;
    width: 42vw;
    cursor: pointer;
}
.projeto2 img{
    height: 24vw;
    padding: 1rem;
    border-radius: 6vw;
}
.projeto3{
    position: relative;
    height: 24vw;
    width: 42vw;
    cursor: pointer;
}
.projeto3 img{
    height: 24vw;
    padding: 1rem;
    border-radius: 6vw;
}
.projeto3 p{
    position: absolute;
    color: var(--branco);
    font-weight: var(--bold);
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    right: 0;
    left: -8vw;
    bottom: 0;
    top: 0;
}

/* Chamada para contato *************************************************************************/

.chamadaPcontato{
    position: relative;
    height: 20vw;
    width: 100vmax;
    top: -10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.precisa h3{
    font-weight: var(--regular);
    font-size: 1.8vw;
    padding-bottom: 5px;
    color: var(--preto);
}
.Bora{
    justify-content: center;
}
.Bora a{
    text-decoration: none;
}
.Bora h1{
    font-weight: var(--bold);
    font-size: 3.5vw;
    color: var(--preto);
    text-decoration: none;
}

.tracoDlink{
    display: block;
    background-color: transparent;
    position: absolute;
    width: 0;
    height: 6px;
}

.Bora:hover .tracoDlink{
    display: block;
    height: 6px;
    animation: tracoDoLink 0.7s forwards cubic-bezier(.55,-0.28,.21,1.27);
}
@keyframes tracoDoLink {
    0%{
        width: 0;
        background-color: var(--vermelho);
    }
    100%{
        width: 47vw;
        background-color: var(--vermelho);
    }
}

/* Footer ********************************************************************************************/

footer {
    background-color: var(--preto);
    position: relative;
    height: 60vh;
    width: 100vmax;
    display: grid;
    grid-template-areas: 
    'contato links'
    'footer footer';

}
.SobreContato{
    color: var(--branco);
    position: relative;
    grid-area: contato;
    width: 40vmax;
    height: 50vh;
    left: 2rem;
    top: 2rem;
}
.SobreContato h2{
    font-weight: var(--bold);
    font-size: 2rem;
}
.SobreContato p{
    position: relative;
    font-weight:var(--regular);
    font-size: 1.2rem;
    width: 35vmax;
    top: 0.5rem;
}
.SobreContato a{
    position: relative;
    text-decoration: none;
    top: 0.5rem;
    font-weight: var(--regular);
}
.SobreContato a p{
    color: var(--branco);
    padding-bottom: 10px;
}
.SobreContato a p:hover{
    text-decoration:underline;
}


.segueAi{
    position: relative;
    grid-area: links;
    height: 50vh;
    color: var(--branco);
    top: 2rem;
}
.segueAi h2{
    font-weight: var(--bold);
    font-size: 2rem;
}
.redesSociais{
    position: relative;
    top: 1rem;
}
.instagram a{

    stroke:var(--branco);
    display: flex;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    padding-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.instagram h3{
    position: relative;
    left: 0.5rem;
    font-weight: var(--regular);
    font-size: 1.2rem;
}
.instagram a:hover{
    color: var(--vermelho);
    stroke: var(--vermelho);
}

.behance a{
    stroke:var(--branco);
    display: flex;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    padding-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.behance h3{
    position: relative;
    left: 0.5rem;
    font-weight: var(--regular);
    font-size: 1.2rem;
}
.behance a:hover{
    color: var(--vermelho);
    stroke: var(--vermelho);
}

.linkedin a{
    stroke:var(--branco);
    display: flex;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    padding-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.linkedin h3{
    position: relative;
    left: 0.5rem;
    font-weight: var(--regular);
    font-size: 1.2rem;
}
.linkedin a:hover{
    color: var(--vermelho);
    stroke: var(--vermelho);
}


.DireitoAutorais{
    position: relative;
    grid-area: footer;
    bottom: 2rem;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
.DireitoAutorais p{
    position: relative;
    color: var(--cinza);
    left: 0.5rem;
}
.IconeLogo{
    stroke:var(--cinza);
    cursor: pointer;
    transition: 0.5s;
}
.IconeLogo:hover{
    stroke: var(--vermelho);
}


/*Resposividade***********************************************************************************/

@media only screen and (max-width: 990px) {
/* Sobre mim ********************************************************/
    .texto-sobreMim{
        position: absolute;
        left: 3vmax;
        top: 27vh;
    }
    
    #salve{
        position: relative;
        font-weight: var(--bold);
        color: var(--vermelho);
        text-shadow: 
        -0.1vmax -0.1vmax 0vmax var(--preto), 
        -0.1vmax 0.1vmax 0vmax var(--preto),                    
        0.1vmax -0.1vmax 0vmax var(--preto),                  
        0.1vmax 0.1vmax 0vmax var(--preto);
        font-size: 3.8vw;
    }
    #EuMemo{
        position: relative;
        top: -3.5vw;
        left: 15.5vw;
        font-size:  2.8vw;
    }
    
    .conteudoPrevia{
        position: absolute;
        font-size: 2.8vw;
        font-weight: var(--regular);
        top: 4vw;
        width: 50vmax;
    }
    .fotinha{
        position:absolute;
        right: 10vw;
        top: 5vmax;
        animation: euMeMovo 1s infinite alternate ease-in-out;
    }
    .fotinha img{
        pointer-events: none;
        height: 45vw;
        box-shadow: #f5f5f5;
    
    }
    @keyframes euMeMovo {
        0%{
            top: 4rem;
        }
        100%{
            top: 6rem;
        }
    }

/* Area projetos ************************************************************/


.AreaProjetos{
    position: absolute;
    top: 50vw;
    width: 100vw;
}
.tituloProjetos h4{
    font-weight: var(--regular);
    font-size: 2.5vw;
}

.tituloProjetos h1{
    font-weight: var(--bold);
    font-size: 5.5vw;
}

.Projetos{
    position: absolute;
    display: grid;
    grid-template-columns: 45vw 45vw;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    top: 10rem;
    right: 5vw;
    left: 0;
}
.projeto1{
    position: relative;
    height: 35vw;
    cursor: pointer;
}
.projeto1 img{
    height: 35vw;
    border-radius: 6vw;
}
.projeto2{
    position: relative;
    height: 35vw;
    cursor: pointer;
}
.projeto2 img{
    height: 35vw;
    border-radius: 6vw;
}
.projeto3{
    position: relative;
    height: 35vw;
    cursor: pointer;
}
.projeto3 img{
    height: 35vw;
    border-radius: 6vw;
}
.projeto3 p{
    position: absolute;
    color: var(--branco);
    font-weight: var(--bold);
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -3rem;
    left: 0rem;
    bottom: 0rem;
    top: 0;
}

/* Chamada para contato *******************************************************/

.chamadaPcontato{
    position: absolute;
    top: 140vw;
}

.precisa h3{
    font-size: 2.3vw;
    padding-bottom: 5px;
    color: var(--preto);
}
.Bora h1{
    font-size: 4vw;
}
@keyframes tracoDoLink {
    0%{
        width: 0;
        background-color: var(--vermelho);
    }
    100%{
        width: 53.5vw;
        background-color: var(--vermelho);
    }
}

/* Footer ***********************************************************************/

footer {
    position: absolute;
    top: 165vw;

}
}

@media screen and (max-width: 768px) {
/* Menu **********************************************************************/
    .menu:hover #hamburguer2{
        background-color: var(--preto);
    }
     .menu:hover #hamburguer1{
        background-color: var(--preto);
        top: 0.6rem;
    }
     .menu:hover #hamburguer3{
        background-color: var(--preto);
        top: -0.6rem;
    }
    .menu:hover #menu-texto{
        color: var(--preto);
    } 

    /* Sobre mim ********************************************************/
    #EuMemo{
        position: relative;
        top: -3.5vw;
        left: 15.5vw;
        font-size:  2.8vw;
    }
    
    .conteudoPrevia{
        position: absolute;
        font-size: 2.8vw;
        font-weight: var(--regular);
        top: 4vw;
        width: 50vw;
    }
    .fotinha{
        position:absolute;
        right: 10vw;
        top: 7rem;
        animation:none;
    }
    .fotinha img{
        pointer-events: none;
        height: 45vw;
        box-shadow: #f5f5f5;
    }

/* Area projetos ************************************************************/


.tituloProjetos h4{
    font-weight: var(--regular);
    font-size: 2.5vw;
}

.tituloProjetos h1{
    font-weight: var(--bold);
    font-size: 5.5vw;
}
.AreaProjetos{
    position: absolute;
    top: 60vw;
}
.Projetos{
    position: absolute;
    display: grid;
    grid-template-columns: 45vw 45vw;
    gap: 1px;
}
.projeto1{
    position: relative;
    height: 35vw;
    width: 49vw;
    cursor: pointer;
}
.projeto1 img{
    height: 35vw;
    border-radius: 8vw;
}
.projeto2{
    position: relative;
    height: 35vw;
    width: 49vw;
    cursor: pointer;
}
.projeto2 img{
    height: 35vw;
    border-radius: 8vw;
}
.projeto3{
    position: relative;
    height: 35vw;
    width: 49vw;
    cursor: pointer;
}
.projeto3 img{
    height: 35vw;

    border-radius: 8vw;
}
.projeto3 p{
    position: absolute;
    color: var(--branco);
    font-weight: var(--bold);
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

/* Chamada para contato *******************************************************/

.chamadaPcontato{
    position: absolute;
    top:155vw;
    width: 100vw;
    right: 0;
    left: 0;
}

.precisa h3{
    font-size: 2.3vw;
    padding-bottom: 5px;
    color: var(--preto);
}
.Bora h1{
    font-size: 4vw;
}
.tracoDlink{
    width: 53.5vw;
    background-color: var(--vermelho);
}
.Bora:hover .tracoDlink{
    animation: none;
}
/* Footer *********************************************************************/

footer {
    background-color: var(--preto);
    position: absolute;
    top: 185vw;
    height: 60vmax;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    'contato links'
    'footer footer';

}
.SobreContato{
    color: var(--branco);
    position: relative;
    grid-area: contato;
    width: 50vw;
    left: 2rem;
    top: 2rem;
}
.SobreContato h2{
    font-weight: var(--bold);
    font-size: 3.5vw;
}
.SobreContato p{
    position: relative;
    font-weight:var(--regular);
    font-size: 2.5vw;
    width: 50vw;
    top: 0.5rem;
}
.SobreContato a{
    position: relative;
    text-decoration: none;
    top: 0.5rem;
    font-weight: var(--regular);
}
.SobreContato a p{
    color: var(--branco);
    padding-bottom: 10px;
}
.SobreContato a p:hover{
    text-decoration:none;
}


.segueAi{
    position: relative;
    grid-area: links;
    color: var(--branco);
    top: 2rem;
}
.segueAi h2{
    font-weight: var(--bold);
    font-size: 3vw;
}
.redesSociais{
    position: relative;
    top: 1rem;
}
.InstagramIcon{
    height: 4.5vw;
}
.instagram a{

    stroke:var(--branco);
    display: flex;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    padding-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.instagram h3{
    position: relative;
    left: 0.5rem;
    font-weight: var(--regular);
    font-size: 2.5vw;
}
.instagram a:hover{
    color: var(--branco);
    stroke: var(--branco);
}
.BehanceIcon{
    height: 4.5vw;
}
.behance a{
    stroke:var(--branco);
    display: flex;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    padding-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.behance h3{
    position: relative;
    left: 0.5rem;
    font-weight: var(--regular);
    font-size: 2.5vw;
}
.behance a:hover{
    color: var(--branco);
    stroke: var(--branco);
}
.LinkedinIcon{
    height: 4.5vw;
}
.linkedin a{
    stroke:var(--branco);
    display: flex;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    padding-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.linkedin h3{
    position: relative;
    left: 0.5rem;
    font-weight: var(--regular);
    font-size: 2.5vw;
}
.linkedin a:hover{
    color: var(--branco);
    stroke: var(--branco);
}


.DireitoAutorais{
    position: relative;
    grid-area: footer;
    width: 100vw;
    bottom: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DireitoAutorais p{
    position: relative;
    color: var(--cinza);
    left: 0.5rem;
    font-size: 2.2vw;
}
.IconeLogo{
    stroke:var(--cinza);
    cursor: pointer;
    height: 5vw;
    transition: 0.5s;
}
.IconeLogo:hover{
    stroke: var(--vermelho);
}
}

@media screen and (max-width: 600px) {
    /* Menu **********************************************************************/
        .menu:hover #hamburguer2{
            background-color: var(--preto);
        }
         .menu:hover #hamburguer1{
            background-color: var(--preto);
            top: 0.6rem;
        }
         .menu:hover #hamburguer3{
            background-color: var(--preto);
            top: -0.6rem;
        }
        .menu:hover #menu-texto{
            color: var(--preto);
        } 
    
        /* Sobre mim ********************************************************/
        .previa-sobreMim{
            height: auto;
        }
        .texto-sobreMim{
            position: absolute;
            left: 3vmax;
            top: 80vw;
        }
        
        #salve{
            font-size: 6vw;
        }
        #EuMemo{
            position: relative;
            top: -5vw;
            left: 24.5vw;
            font-size:  4vw;
        }
        
        .conteudoPrevia{
            position: absolute;
            font-size: 4vw;
            font-weight: var(--regular);
            top: 7vw;
            width: 80vw;
        }
        .fotinha{
            position:absolute;
            right: 25vw;
            top: 18vw;
            animation:none;
        }
        .fotinha img{
            pointer-events: none;
            height: 70vw;
            box-shadow: #f5f5f5;
        }
    
    /* Area projetos ************************************************************/
    
    .AreaProjetos{
        z-index: -1;
        position: absolute;
        top: 120vw;
        height: 170vw;
        width: 100vw;
    }
    .tituloProjetos h4{
        font-weight: var(--regular);
        font-size: 4vw;
    }
    
    .tituloProjetos h1{
        font-weight: var(--bold);
        font-size: 7vw;
    }
    
    .Projetos{
        position: absolute;
        display: grid;
        grid-template-columns: 50vw;
        top: 20vw;
        gap: 1px;
        right: 15vw;
        left: 0;
    }
    .projeto1{
        position: relative;
        height: 50vw;
        width: 70vw;
        cursor: pointer;
    }
    .projeto1 img{
        height: 50vw;
        border-radius: 10vw;
    }
    .projeto2{
        position: relative;
        height: 50vw;
        width: 70vw;
        cursor: pointer;
    }
    .projeto2 img{
        height: 50vw;
        border-radius: 10vw;
    }
    .projeto3{
        position: relative;
        height: 50vw;
        width: 70vw;
        cursor: pointer;
    }
    .projeto3 img{
        height: 50vw;
    
        border-radius: 10vw;
    }
    .projeto3 p{
        position: absolute;
        color: var(--branco);
        font-weight: var(--bold);
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
    }
    
    /* Chamada para contato *******************************************************/
    
    .chamadaPcontato{
        position: absolute;
        top: 300vw;
        width: 100vw;
        right: 0;
        left: 0;
    }
    
    .precisa h3{
        font-size: 4vw;
        padding-bottom: 5px;
        color: var(--preto);
    }
    .Bora h1{
        font-size: 5vw;
    }
    .tracoDlink{
        width: 67.5vw;
        background-color: var(--vermelho);
    }
    .Bora:hover .tracoDlink{
        animation: none;
    }
    /* Footer *********************************************************************/
    
    footer {
        background-color: var(--preto);
        position: absolute;
        top: 330vw;
        height: 80vmin;
        width: 100vw;
        display: grid;
        grid-template-areas: 
        'contato'
        'links'
        'footer';
    
    }
    .SobreContato{
        color: var(--branco);
        position: relative;
        grid-area: contato;
        height: 60vw;
        width: 100vw;
        left: 1rem;
        top: 2rem;
    }
    .SobreContato h2{
        font-weight: var(--bold);
        font-size: 5vw;
    }
    .SobreContato p{
        position: relative;
        font-weight:var(--regular);
        font-size: 3vw;
        width: 90vw;
        top: 0.5rem;
    }
    .SobreContato a{
        position: relative;
        text-decoration: none;
        top: 0.5rem;
        font-weight: var(--regular);
    }
    .SobreContato a p{
        color: var(--branco);
        padding-bottom: 10px;
    }
    .SobreContato a p:hover{
        text-decoration:none;
    }
    
    
    .segueAi{
        position: relative;
        grid-area: links;
        height: 10vh;
        color: var(--branco);
        top: -15vmin;
        left: 1rem;
    }
    .segueAi h2{
        font-weight: var(--bold);
        font-size: 3vw;
    }
    .redesSociais{
        display: flex;
        position: relative;
        top: 1rem;
    }
    .InstagramIcon{
        height: 6vw;
    }
    .instagram a{
    
        stroke:var(--branco);
        display: flex;
        align-items: center;
        color: var(--branco);
        text-decoration: none;
        padding-right: 20px;
        transition: 0.5s;
        cursor: pointer;
    }
    .instagram h3{
        position: relative;
        left: 0.5rem;
        font-weight: var(--regular);
        font-size: 2.5vw;
    }
    .instagram a:hover{
        color: var(--branco);
        stroke: var(--branco);
    }
    .BehanceIcon{
        height: 6vw;
    }
    .behance a{
        stroke:var(--branco);
        display: flex;
        align-items: center;
        color: var(--branco);
        text-decoration: none;
        padding-right: 20px;
        transition: 0.5s;
        cursor: pointer;
    }
    .behance h3{
        position: relative;
        left: 0.5rem;
        font-weight: var(--regular);
        font-size: 2.5vw;
    }
    .behance a:hover{
        color: var(--branco);
        stroke: var(--branco);
    }
    .LinkedinIcon{
        height: 6vw;
    }
    .linkedin a{
        stroke:var(--branco);
        display: flex;
        align-items: center;
        color: var(--branco);
        text-decoration: none;
        padding-right: 20px;
        transition: 0.5s;
        cursor: pointer;
    }
    .linkedin h3{
        position: relative;
        left: 0.5rem;
        font-weight: var(--regular);
        font-size: 2.5vw;
    }
    .linkedin a:hover{
        color: var(--branco);
        stroke: var(--branco);
    }
    
    
    .DireitoAutorais{
        position: absolute;
        grid-area: footer;
        display: flex;
        height: auto;
        align-items: center;
        top: -9vmin;
        left: -24.5vmin;
    }
    .DireitoAutorais p{
        position: relative;
        color: var(--cinza);
        left: 0.5rem;
        font-size: 2.5vw;
    }
    .IconeLogo{
        stroke:var(--cinza);
        cursor: pointer;
        transition: 0.5s;
        height: 6vw;
    }
    .IconeLogo:hover{
        stroke: var(--vermelho);
    }
    }

@media screen and (max-width: 400px) {
        /* Menu **********************************************************************/
            .menu:hover #hamburguer2{
                background-color: var(--preto);
            }
             .menu:hover #hamburguer1{
                background-color: var(--preto);
                top: 0.6rem;
            }
             .menu:hover #hamburguer3{
                background-color: var(--preto);
                top: -0.6rem;
            }
            .menu:hover #menu-texto{
                color: var(--preto);
            } 
        
            /* Sobre mim ********************************************************/
            .texto-sobreMim{
                position: absolute;
                left: 3vmax;
                top: 87vw;
            }
            
            #salve{
                font-size: 6.5vw;
            }
            #EuMemo{
                position: relative;
                top: -5.8vw;
                left: 26vw;
                font-size:  4.5vw;
            }
            
            .conteudoPrevia{
                position: absolute;
                font-size: 4.5vw;
                font-weight: var(--regular);
                top: 7vw;
                width: 80vw;
            }
            .fotinha{
                position:absolute;
                right: 25vw;
                top: 23vw;
                animation:none;
            }
            .fotinha img{
                pointer-events: none;
                height: 72vw;
                box-shadow: #f5f5f5;
            }
        
        /* Area projetos ************************************************************/
        
        .AreaProjetos{
            z-index: -1;
            position: absolute;
            top: 135vw;
            height: 170vw;
            width: 100vw;
        }
        .tituloProjetos h4{
            font-weight: var(--regular);
            font-size: 4.5vw;
        }
        
        .tituloProjetos h1{
            font-weight: var(--bold);
            font-size: 7.5vw;
        }
        
        .Projetos{
            position: absolute;
            display: grid;
            grid-template-columns: 70vw;
            top: 20vw;
            gap: 1px;
            right: 15vw;
            left: 0;
        }
        .projeto1{
            position: relative;
            height: 55vw;
            width: 70vw;
            cursor: pointer;
        }
        .projeto1 img{
            height: 60vw;
            border-radius: 13vw;
        }
        .projeto2{
            position: relative;
            height: 55vw;
            width: 70vw;
            cursor: pointer;
        }
        .projeto2 img{
            height: 60vw;
            border-radius: 13vw;
        }
        .projeto3{
            position: relative;
            height: 55vw;
            width: 70vw;
            cursor: pointer;
        }
        .projeto3 img{
            height: 60vw;
        
            border-radius: 13vw;
        }
        .projeto3 p{
            position: absolute;
            color: var(--branco);
            font-weight: var(--bold);
            font-size: 7vw;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 2rem;
            top: 1.5rem;
        }
        
        /* Chamada para contato *******************************************************/
        
        .chamadaPcontato{
            position: absolute;
            top: 330vw;
            width: 100vw;
            right: 0;
            left: 0;
        }
        
        .precisa h3{
            font-size: 4.5vw;
            padding-bottom: 5px;
            color: var(--preto);
        }
        .Bora h1{
            font-size: 5.5vw;
        }
        .tracoDlink{
            width: 74vw;
            background-color: var(--vermelho);
        }
        .Bora:hover .tracoDlink{
            animation: none;
        }
        /* Footer *********************************************************************/
        
        footer {
            background-color: var(--preto);
            position: absolute;
            top: 360vw;
            height: 90vmin;
            width: 100vw;
            display: grid;
            grid-template-areas: 
            'contato'
            'links'
            'footer';
        
        }
        .SobreContato{
            color: var(--branco);
            position: relative;
            grid-area: contato;
            height: 60vw;
            width: 100vw;
            left: 1rem;
            top: 1rem;
        }
        .SobreContato h2{
            font-weight: var(--bold);
            font-size: 5vw;
        }
        .SobreContato p{
            position: relative;
            font-weight:var(--regular);
            font-size: 3.5vw;
            width: 80vw;
            top: 0.5rem;
        }
        .SobreContato a{
            position: relative;
            text-decoration: none;
            top: 0.5rem;
            font-weight: var(--regular);
        }
        .SobreContato a p{
            color: var(--branco);
            padding-bottom: 10px;
        }
        .SobreContato a p:hover{
            text-decoration:none;
        }
        
        
        .segueAi{
            position: relative;
            grid-area: links;
            height: 10vh;
            color: var(--branco);
            top: -10vmin;
            left: 1rem;
        }
        .segueAi h2{
            font-weight: var(--bold);
            font-size: 4.5vw;
        }
        .redesSociais{
            display: flex;
            position: relative;
            top: 1.5rem;
        }
        .InstagramIcon{
            height: 8vw;
        }
        .instagram a{
        
            stroke:var(--branco);
            display: flex;
            align-items: center;
            color: var(--branco);
            text-decoration: none;
            padding-right: 20px;
            transition: 0.5s;
            cursor: pointer;
        }
        .instagram h3{
            position: relative;
            left: 0.5rem;
            font-weight: var(--regular);
            font-size: 3vw;
        }
        .instagram a:hover{
            color: var(--branco);
            stroke: var(--branco);
        }
        .BehanceIcon{
            height: 8vw;
        }
        .behance a{
            stroke:var(--branco);
            display: flex;
            align-items: center;
            color: var(--branco);
            text-decoration: none;
            padding-right: 20px;
            transition: 0.5s;
            cursor: pointer;
        }
        .behance h3{
            position: relative;
            left: 0.5rem;
            font-weight: var(--regular);
            font-size: 3vw;
        }
        .behance a:hover{
            color: var(--branco);
            stroke: var(--branco);
        }
        .LinkedinIcon{
            height: 8vw;
        }
        .linkedin a{
            stroke:var(--branco);
            display: flex;
            align-items: center;
            color: var(--branco);
            text-decoration: none;
            padding-right: 20px;
            transition: 0.5s;
            cursor: pointer;
        }
        .linkedin h3{
            position: relative;
            left: 0.5rem;
            font-weight: var(--regular);
            font-size: 3vw;
        }
        .linkedin a:hover{
            color: var(--branco);
            stroke: var(--branco);
        }
        
        
        .DireitoAutorais{
            position: absolute;
            grid-area: footer;
            display: flex;
            width: 100vw;
            align-items: center;
            top: -6vmin;
            left: -18vw;
        }
        .DireitoAutorais p{
            position: relative;
            color: var(--cinza);
            left: 0.5rem;
            font-size: 3vw;
        }
        .IconeLogo{
            stroke:var(--cinza);
            cursor: pointer;
            transition: 0.5s;
            height: 8vw;
        }
        .IconeLogo:hover{
            stroke: var(--vermelho);
        }
        }